<div
    style="width: calc(100vw - 2rem);"
    [ngStyle]="{ height: gridContainerHeight }"
>
    <gridster [options]="options" #grid>
        <gridster-item
            [item]="item"
            *ngFor="let item of dashboard; let i = index"
        >
            <mat-card class="example-card">
                <mat-card-header>
                    <button mat-fab><mat-icon class="drag-handler">open_with</mat-icon></button>
                    <mat-card-title>
                        <a target="_blank" href="https://www.google.com">
                            Gridster Item - {{ i }}
                        </a>
                    </mat-card-title>
                    <mat-card-subtitle>Item</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and
                        distinct spitz breeds of dog from Japan. A small, agile
                        dog that copes very well with mountainous terrain, the
                        Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">
                        No Action
                    </button>
                </mat-card-actions>
            </mat-card>
        </gridster-item>
        <gridster-item
            [item]="item"
            *ngFor="let item of widgets; let i = index"
        >
            <mat-card class="example-card">
                <mat-card-header>
                    <button mat-fab><mat-icon class="drag-handler">open_with</mat-icon></button>
                    <mat-card-title>
                        <a target="_blank" href="https://www.google.com">
                            Widget - {{ i }}
                        </a>
                    </mat-card-title>
                    <mat-card-subtitle>Item</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <app-widget [item]="item"></app-widget>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">
                        No Action
                    </button>
                </mat-card-actions>
            </mat-card>
        </gridster-item>
    </gridster>
</div>
<div>
    <button mat-raised-button color="primary" (click)="addItem()">Add</button>
</div>
